body {
    height: 6480px;
}
h2 {
    text-align: center;
}
div {
    display: block;
    position: relative;
}
.url-textfield {
    visibility: hidden;
}
.form-item-honey {
    display: none;
}
.part-for-the-test-buttons {
    display: flex;
}
.right_part {
    background: red;
    width: 50%;
    height: 100px;
}
.left_part {
    background: green;
    width: 50%;
    height: 100px;
}
#right {
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}
.button {
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}
.testing_div_clicks>div {
    padding: 20px 10px;
    cursor: pointer;
}
.testing_em_property {
    display: flex;
    position: inherit;
    margin: 20px 20px;
}
.three_columns_with_links {
    margin: 20px;
    display: flex;
}
#for_testing_virtual_classes {
    width: 33%;
    height: 150px;
}
#button_alike {
    width: 100px;
    height: 50px;
    left: 50%;
    background: aqua;
}
.standart_form {
    margin: 3px;
}